@tailwind base;
@tailwind components;
@tailwind utilities;

/*Div Templates*/

Link {
  @apply cursor-pointer;
}

.rounded-div {
  @apply rounded-none md:rounded-2xl bg-primary px-2 max-w-7xl w-full mx-auto border border-secondary transition-all duration-100 ease-in;
}

.rounded-div-secondary {
  @apply rounded-none md:rounded-2xl bg-primary px-2 max-w-7xl w-full mx-auto border border-secondary hover:shadow-md transition-all duration-100 ease-in;
}

.section-template {
  @apply max-w-7xl mx-auto my-8 py-8;
}

/*Shadows*/
.glow-main {
  @apply shadow-lg shadow-teal-600 dark:shadow-emerald-900;
}

.glow-main-press {
  @apply shadow-lg shadow-teal-600 dark:shadow-emerald-900 hover:shadow-md hover:shadow-teal-700 dark:hover:shadow-emerald-900;
}

.glow-twitch-lift {
  @apply shadow-md shadow-violet-900 hover:shadow-violet-600 hover:shadow-2xl hover:scale-[97.5%] xl:hover:scale-105;
}

.glow-twitch-press {
  @apply shadow-lg shadow-violet-900 hover:shadow-violet-600 hover:shadow-md;
}

.glow-yt-lift {
  @apply shadow-md shadow-red-900 hover:shadow-red-600 hover:shadow-2xl hover:scale-[97.5%] xl:hover:scale-105;
}

.glow-yt-press {
  @apply shadow-lg shadow-red-900 hover:shadow-red-600 hover:shadow-md;
}

.glow-twitter-lift {
  @apply shadow-md shadow-blue-900 hover:shadow-blue-600 hover:shadow-2xl hover:scale-[97.5%] xl:hover:scale-105;
}

.glow-twitter-press {
  @apply shadow-lg shadow-blue-900 hover:shadow-blue-600 hover:shadow-md;
}

/*Nav*/
.nav {
  @apply rounded-none xl:rounded-b-2xl bg-primary px-2 max-w-7xl w-full mx-auto flex justify-between xl:rounded-b-xl items-center border border-secondary;
}

.nav-item {
  @apply cursor-pointer text-primary border-b-2 border-primary hover:border-accent transition-all duration-100 ease-in;
}

/*Footer*/
.footer {
  @apply rounded-none xl:rounded-t-2xl bg-primary px-2 max-w-7xl w-full mx-auto py-4 text-primary border border-secondary;
}

/*Cards*/
.card {
  @apply xl:rounded-2xl bg-secondary p-4 my-6 w-full border border-primary hover:scale-[97.5%] xl:hover:scale-105 transition-all ease-in duration-150;
}

.social-card {
  @apply xl:rounded-2xl bg-primary dark:bg-secondary p-4 my-2 w-full border border-primary transition-all ease-in duration-150 flex flex-row justify-between items-center text-primary;
}

.social-card h1 {
  @apply text-lg md:text-xl lg:text-2xl hover:scale-[102.5%] transition-all ease-in duration-75 cursor-pointer font-semibold;
}

.social-card ol li {
  @apply text-primary text-sm md:text-lg transition-all ease-in duration-75;
}

.social-card ol li span {
  @apply font-bold text-lg;
}

/*Social Icons*/
.twitch-icon {
  @apply text-violet-500 hover:scale-110 hover:text-violet-700 transition-all duration-150 ease-in;
}

.youtube-icon {
  @apply text-red-600 hover:scale-110 hover:text-red-500 transition-all duration-150 ease-in;
}

.twitter-icon {
  @apply text-blue-500 hover:scale-110 hover:text-blue-600 transition-all duration-150 ease-in;
}

.icon-med {
  @apply h-10 w-10;
}

.icon-large {
  @apply w-[30px] h-[30px] md:w-[40px] md:h-[40px] lg:w-[50px] lg:h-[50px];
}

/*Buttons*/
.btn-primary {
  @apply bg-primary text-sm md:text-base xl:text-lg font-semibold px-2 py-1 rounded-2xl text-primary shadow-md shadow-teal-600 dark:shadow-emerald-900 hover:shadow hover:shadow-teal-700 dark:hover:shadow-emerald-900 hover:scale-[99%] transition-all duration-100 ease-in;
}

.btn-twitch {
  @apply font-semibold md:text-base xl:text-lg px-2 py-1 rounded-2xl text-violet-600 shadow-md bg-primary shadow-violet-900 hover:shadow-violet-600 hover:shadow hover:scale-[99%] transition-all duration-100 ease-in;
}

.btn-yt {
  @apply font-semibold md:text-base xl:text-lg px-2 py-1 rounded-2xl text-red-600 shadow-md bg-primary shadow-red-900 hover:shadow-red-600 hover:shadow hover:scale-[99%] transition-all duration-100 ease-in;
}

.btn-twitter {
  @apply font-semibold md:text-base xl:text-lg px-2 py-1 rounded-2xl text-blue-600 shadow-md bg-primary shadow-blue-900 hover:shadow-blue-600 hover:shadow hover:scale-[99%] transition-all duration-100 ease-in;
}

.dark {
  --color-bg-primary: #0f172a;
  --color-bg-secondary: #1e293b;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #059669;
  --color-bg-input: #475569;
  --color-bg-button: #059669;
}

.light {
  --color-bg-primary: #e2e8f0;
  --color-bg-secondary: #cbd5e1;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #059669;
  --color-bg-input: #94a3b8;
  --color-bg-button: #059669;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #333;
}
