@tailwind base;
@tailwind components;
@tailwind utilities;

/*Theming*/
.rounded-div {
  @apply rounded-none md:rounded-2xl shadow-lg shadow-teal-600 dark:shadow-emerald-900 bg-primary px-2 max-w-7xl w-full mx-auto border border-secondary hover:shadow-md hover:shadow-teal-700 dark:hover:shadow-emerald-900 transition-all duration-100 ease-in;
}

.rounded-div-secondary {
  @apply rounded-2xl shadow-lg shadow-teal-600 dark:shadow-emerald-900 bg-secondary px-2 max-w-7xl w-full mx-auto border border-secondary;
}

.nav {
  @apply rounded-none xl:rounded-b-2xl shadow-lg shadow-teal-600 dark:shadow-emerald-900 bg-primary px-2 max-w-7xl w-full mx-auto flex justify-between xl:rounded-b-xl items-center border border-secondary;
}

.nav-item {
  @apply cursor-pointer text-primary border-b-2 border-primary hover:border-accent transition-all duration-100 ease-in;
}

.footer {
  @apply rounded-none xl:rounded-t-2xl shadow-lg shadow-teal-600 dark:shadow-emerald-800 bg-primary px-2 max-w-7xl w-full mx-auto py-4 text-primary border border-secondary;
}

.card {
  @apply xl:rounded-2xl bg-secondary p-4 my-6 w-full border border-primary hover:scale-[97.5%] xl:hover:scale-105 transition-all ease-in duration-150;
}

.social-card {
  @apply xl:rounded-2xl bg-secondary p-4 my-2 w-full border border-primary hover:scale-[97.5%] xl:hover:scale-105 transition-all ease-in duration-150 flex flex-row justify-between items-center cursor-pointer;
}

.social-card h1 {
  @apply text-lg md:text-xl lg:text-2xl hover:scale-105 transition-all ease-in duration-75 cursor-pointer font-semibold;
}

.social-card ol li {
  @apply text-primary text-sm md:text-lg transition-all ease-in duration-75;
}

.social-card ol li span {
  @apply font-bold text-lg;
}

.twitch-icon {
  @apply text-violet-500 hover:scale-110 hover:text-violet-700 transition-all duration-150 ease-in;
}

.youtube-icon {
  @apply text-red-600 hover:scale-110 hover:text-red-500 transition-all duration-150 ease-in;
}

.twitter-icon {
  @apply text-blue-500 hover:scale-110 hover:text-blue-600 transition-all duration-150 ease-in;
}

.dark {
  --color-bg-primary: #0f172a;
  --color-bg-secondary: #1e293b;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #059669;
  --color-bg-input: #475569;
  --color-bg-button: #059669;
}

.light {
  --color-bg-primary: #e2e8f0;
  --color-bg-secondary: #cbd5e1;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #059669;
  --color-bg-input: #94a3b8;
  --color-bg-button: #059669;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #333;
}
